@less_iaicolorscheme_background_link_color_hover: #f00;
@less_iaicolorscheme_background_active_color: #f00;
@less_iaicolorscheme_background_alternative_link_color: #f00;
@less_iaicolorscheme_background_alternative_active_color: #f00;
@less_iaicolorscheme_background_mask_link_color: #f00;
@less_iaicolorscheme_background_mask_active_color: #f00;
@less_iaicolorscheme_info_color: #f00;
@less_iaicolorscheme_primary_color: #f00;
@less_iaicolorscheme_button_small_color_hover: #f00;
@less_iaicolorscheme_button_small_text_color_hover: #f00;
@less_iaicolorscheme_button_medium_hover: #f00;
@less_iaicolorscheme_button_large_hover: #f00;