#content{background: #fff; border-radius: 20px; padding:10px!important;}
header{
    background:transparent!important;
    border: none!important;
}
body{
	background: #000000;
	background: -moz-linear-gradient(left, #000000 0%, #501113 50%, #000000 98%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #000000), color-stop(50%, #501113), color-stop(98%, #000000));
	background: -webkit-lJR221770XX3573SMinear-gradient(left, #000000 0%, #501113 50%, #000000 98%);
	background: -o-linear-gradient(left, #000000 0%, #501113 50%, #000000 98%);
	background: -ms-linear-gradient(left, #000000 0%, #501113 50%, #000000 98%);
	background: linear-gradient(to right, #000000 0%, #501113 50%, #000000 98%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1);
    padding-top: 0!important;
}

#main_banner1{background: transparent!important; margin-top: -10px;}
.product__name{font-size:1.5rem!important;}
.product__yousave{border-color: #f00!important;}
.product__yousave span {color:#f00}
.price.--points{color:#c00!important;}

.btn:hover{color:#f00!important;border-bottom-color: #f00!important;}
a:hover{color:#f00!important}
div.main_page, footer, div.search_page{
	margin: 0 auto;
	text-align: left;
	background: transparent!important;
}
div.list_wrapper ol li * {color:#ddd}
/*Kropka czerwona bannery*/
.slick-dots li.slick-active button {
	background: #c00;
}
/*Bannery na dół - pod menu i logo */
div.main_page header{position: relative!important;}

/*linki menu*/
a.nav-link {
    @media(min-width: 979px){
        color: #ffffff!important;
    }
}
@media(min-width: 979px){ 
    a.nav-link {
        color: #ffffff!important;
    }
}
header .nav-link.active {
    color: #ff0000;
}
.navbar-nav > .nav-item > .nav-link:hover{color:#ff0000!important;}

/*menu mobilne */
header .navbar-toggler{
    color: #ffffff;
}

/*Menu górne koszyk ustawienia itp*/
header span {color: #eeeeee!important;}
#menu_basket a {color: #eeeeee!important;}
#menu_additional a {color: #eeeeee!important;}

/*wyszukiwarka tekstowa*/
#menu_search_text {color:#ccc!important; border-color: #ccc!important;}
#menu_search_text:focus {
    @media(min-width: 757px){
        color:#fff!important;
    }
    border-color: #fff!important;
    
}
i.icon-search{color:white!important} /*lupka*/
i.icon-search:hover{color:red!important}
#menu_basket > a:before{color:#fff;} /*ikona koszyk*/

#menu_contact, #menu_contact > *{
    background: transparent!important; 
	
}
#menu_contact > ul > li > a{color:#fff!important;}
#menu_contact > ul > li{color:#fff!important;}
#menu_contact::before{background:transparent}

#footer_links{
    margin-top: 20px;
    width: 100%;
    background:#fff;
    border-radius: 20px;
}
#footer_links > *{
    border: none!important;
}
.btn.--secondary.--solid.--large {
    background: #ff0000;
    border: 1px solid #ff0000;
    color: #ffffff;
}
.btn.--secondary.--solid.--large:hover{
    color:#ffffff!important;
    background: #000000!important;
    border: 1px solid #000000!important;
}
.hotspot__dots li.slick-active:before, .hotspot__dots li:hover:before{
    background: #ff0000!important;
}
.select_button.active, .photos__link.--nav.--active, .photos__link.--nav:hover{
    border-color: #ff0000!important;
}
span.projector_price_yousave, .select_button.active, .css_tip{
    color: #dd0000!important;
}
.select_button:hover{
    color: #dd0000!important;
    border-color: #ff0000!important;
}
.projector_price_value{
    color: #ca0101!important;
}
.badge-info{
    background:#ff0000!important;
}
.btn.--medium.--solid{
    background: #ff0000;
    border:none!important;
}
.btn.--medium.--solid:hover{
    background: #000000;
    border:none!important;
}
.topBasket__details{
    background: #352b2a!important;
    border-radius: 10px!important;
}
.topBasket__item{
    color:#ffffff!important;
    font-size: 1.3rem!important;
}
/*koszyk proces zakupowy*/
.progress__item.--active .progress__icon {
    background: #ff0000!important;
}
.basketedit_total_summary strong{
    color:#dd0000;
}
.btn.--large.--solid{
    background: #ff0000!important;
    border:none!important;
    color:#ffffff!important;
}
.btn.--large.--solid:hover{
    background: #000000!important;
}
.btn.--medium.--solid:hover{
    background: #000000!important;
    color: #ffffff!important;
}
.btn.--secondary.--solid.--medium:hover {
    background: #000000!important;
    border: none!important;
    color: #ffffff;
}
.rebate_card_wrap {
    display: none;   
}
.order_process header{
    border: none!important;
}