/*tło strony */
body{background: #000}
div.main_page, footer{
	margin: 0 auto;
	text-align: left;
	background: #000000;
	background: -moz-linear-gradient(left, #000000 0%, #501113 50%, #000000 98%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #000000), color-stop(50%, #501113), color-stop(98%, #000000));
	background: -webkit-linear-gradient(left, #000000 0%, #501113 50%, #000000 98%);
	background: -o-linear-gradient(left, #000000 0%, #501113 50%, #000000 98%);
	background: -ms-linear-gradient(left, #000000 0%, #501113 50%, #000000 98%);
	background: linear-gradient(to right, #000000 0%, #501113 50%, #000000 98%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1);
}
#main_banner1{background:transparent;}

/*Bannery na dół - pod menu i logo */
div.main_page header{position: relative!important;}

/*linki menu*/
.navbar-nav > .nav-item > .nav-link{color:#ffffff!important;}
.navbar-nav > .nav-item > .nav-link:hover{color:#ff0000!important;}

/*Menu górne koszyk ustawienia itp*/
header a, header span {color: #eeeeee!important;}
#menu_basket a {color: #eeeeee!important;}

/*wyszukiwarka tekstowa*/
#menu_search_text {color:#ccc!important; border-color: #ccc!important;}
#menu_search_text:focus {color:#fff!important; border-color: #fff!important;}
i.icon-search{color:white!important} /*lupka*/
i.icon-search:hover{color:red!important}